*, ::after, ::before {
  box-sizing: border-box;
}

body {
  color: #666;
  background-color: #eaeff2;
  font-style: #f7f7f7;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: .7px;
  margin: 0;
  padding: 0;
  font-family: "Lato-Regular",sans-serif;
  font-weight: inherit;
}

a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none !important;
}

a:active, a:hover, a:visited {
  outline: none !important;
  transition: all 0.3s ease;
}

.screen-reader-text {
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  position: absolute !important;
  height: 1px;
  width: 1px;
  border: 0;
  clip-path: inset(50%);
  margin: -1px;
  padding: 0;
}

button {
  overflow: visible;
}

input {
  overflow: visible;
}

input[type="hidden"] {
  display: none;
  appearance: none;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

select {
  width: 100%;
  max-width: 250px;
  padding: 5px;
  color: #666;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 1.5em;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoorthing: antialiased;
}